{% extends "::base.html.twig"%}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('/bundles/app/css/index.css') }}"/>
{% endblock %}

{% block title %}
         Gradaran
{% endblock %}
{% block body %}
    <div class="main">
        <div class="content">
            <div class="div-image-header">
                <img src="{{ asset('/imageStyle/book.jpg') }}" class="img-header" alt="image"/>
            </div>
            <p class="p1-header">Մարդը ստեղծված է այն գրքերից, որոնք կարդացել է։</p>
            <p class="p2-header">Ռալֆ Էմերսոն</p>

            {# menuFakultet #}
            <ul class="menu-content">
                {% for fakultet in fakultets %}
                    <a href="{{ path('index', {'slug': fakultet.id}) }}" class="a-menu">{{ fakultet.name }}</a>
                {% endfor %}
            </ul>

            {# ambionner #}
            <ul>
                {% for ambion in ambionner %}
                    <a href="{{ path('index', {'slug': ambion.name})}}">{{ ambion.name }}</a><br>
                {% endfor %}
            </ul>

            <ul>
                {% for mas in masnagitutyunner %}
                    <a href="{{ path('index', {'slug': mas.name})}}">{{ mas.name }}</a><br>
                {% endfor %}
            </ul>

         {#  {{ slug }}#}


            {# books #}
            <div class="div-book">
                {% for book in books %}
                    <div class="div-one-book">
                        <div class="div-image-book">
                            <img src="{{ asset('uploads/images/') }}{{ book.srcImage }}"  class="img-book" alt="bookImage"/>
                        </div>
                        <div class="div-text">
                            <p class="p-title">{{ book.bookTitle }}</p>
                            <p class="p-author">
                                <span class="span-author"> Հեղինակ`</span>
                                {{ book.author }}
                            </p>
                            <p class="p-ararka">
                                <span class="span-ararka">Առարկա՝ </span>
                                {{ book.ararka }}
                            </p>
                            <p class="p-quotation">{{ book.kisamyak }}</p>
                        </div>


                        <a href="{{ path('show', {'slugBook': book.id})}}" target="_blank" class="a-read">
                            <p class="p-read">Կարդալ</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {{ knp_pagination_render(books) }}
            <div class="div-animation">
                <img src="{{ asset('book-animation.gif') }}"  class="img-animation"/>
            </div>
            {# quotation #}
            <div class="facts">
                <span class="span-fact">Հետաքրքիր փաստեր</span>
                {% for f in facts %}
                    <p class="p-fact">{{ f.fact}} </p>
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}